@include b(header) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  background-color: var(--primary-color);
  @include e(content) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
  }
  @include e(left) {
    display: flex;
    align-items: center;
    img {
      height: 30px;
    }
  }
  @include e(right) {
    display: flex;
    height: 100%;
    a {
      padding: 0 10px;
      text-decoration: none;
      color: var(--gray-5);
      transition: all 0.25s ease 0s;
      &.is-active,
      &:hover {
        color: var(--gray-1);
      }
    }
  }
}
