@include b(module) {
  background-color: var(--module-background-color);
  border-radius: 3px;
  overflow: hidden;
  @include e(header) {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: var(--module-hd-background-color);
    @include when(bold) {
      font-weight: bold;
    }
  }
}
