@include b(header) {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 500;
  height: 48px;
  padding: 0 20px;
  line-height: 48px;
  background-color: var(--primary-color);
  @include e(left) {
    display: flex;
    align-items: center;
    img {
      height: 30px;
    }
  }
  @include e(right) {
    display: flex;
    height: 100%;
    a {
      padding: 0 10px;
      text-decoration: none;
      color: var(--white);
      opacity: 0.7;
      transition: all 0.25s ease 0s;
      &.is-active,
      &:hover {
        opacity: 1;
      }
    }
  }
}
